:root {
	--fgta5-color-editmode-bg: var(--color-editmode-bg, rgb(255, 207, 118));
	--fgta5-color-editmode-line: var(--color-editmode-line, rgb(60, 89, 255));

	--fgta5-color-inputerror-bg: var(--color-inputerror-bg, rgb(255, 184, 184));
	--fgta5-color-inputerror-line: var(--color-inputerror-line, red);
	--fgta5-color-inputerror-text: var(--color-inputerror-text, darkred);

	--fgta5-color-input-line: var(--color-input-line, #ccc);
	--fgta5-color-input-disabled: var(--color-input-line, rgb(200, 200, 200));

}


button, label {
	user-select: none; /* Nonaktifkan seleksi */
}


.fgta5-input-container {
	display:inline-block;
}


.fgta5-button:hover {
	background-color: orange;
	cursor: pointer;
}

.fgta5-button:disabled {
	background-color: #eee;
	cursor: not-allowed;
}

.fgta5-input-editmode	{
	background-color: var(--fgta5-color-editmode-bg);
}

.fgta5-input-error {
	background-color: var(--fgta5-color-inputerror-bg);
	border-color: var(--fgta5-color-inputerror-line) !important;
}
.fgta5-input-error[readonly] {
	border-bottom: 1px solid transparent !important;
}

.fgta5-errormessage {
	font-size: .9rem;
	color: var(--fgta5-color-inputerror-text);
}


/** Texbox **/
.fgta5-wrapper-textbox {
	display:inline-block;
	border: none;
	border-bottom: 1px solid transparent;
}

.fgta5-wrapper-textbox:focus-within {
	border-bottom: 1px solid var(--fgta5-color-editmode-line);
}

.fgta5-wrapper-textbox[readonly]:focus-within {
	border-bottom: 1px solid transparent !important;
}

.fgta5-textbox {
	border: none;
	border-bottom: 1px solid var(--fgta5-color-input-line); /* Border bawah 1px abu-abu */
	outline: none;
	padding: 5px; /* Padding untuk kenyamanan */
	transition: border-color 0.3s ease; /* Animasi transisi */
}

.fgta5-textbox:focus {
	border-bottom: 1px solid var(--fgta5-color-editmode-line); /* Border bawah 1px hitam saat focus */
}

.fgta5-textbox[readonly]:focus {
	border-bottom: 1px solid var(--fgta5-color-input-line) !important; /* Border bawah 1px abu-abu */
}

.fgta5-textbox[disabled] {
	background-color: var(--fgta5-color-input-disabled);
}



/** Combobox **/

.fgta5-wrapper-textbox:has(.fgta5-combobox-button:focus) .fgta5-combobox-display {
	border-bottom: 1px solid var(--fgta5-color-editmode-line); /* Border bawah 1px hitam saat focus */
}

.fgta5-combobox-display {
	border: none;
	border-bottom: 1px solid var(--fgta5-color-input-line); /* Border bawah 1px abu-abu */
	outline: none;
	padding: 5px; /* Padding untuk kenyamanan */
	transition: border-color 0.3s ease; /* Animasi transisi */
}

.fgta5-combobox-display:focus {
	border-bottom: 1px solid var(--fgta5-color-editmode-line); /* Border bawah 1px hitam saat focus */
}

.fgta5-combobox-display:not(.fgta5-input-editmode):focus {
	border-bottom: 1px solid var(--fgta5-color-input-line) !important; /* Border bawah 1px abu-abu */
}

.fgta5-combobox-button {
    position: relative;
    right: 20px;
    margin-top: 4px;
	margin-right: -20px;
    width: 20px;
	height: 20px;
    padding: 0;
	cursor: pointer;
	border: 0;
	background-color: transparent;
}

.fgta5-combobox-button:focus {
	outline: none;
}

