
#fgta5-loading-pagemask {
	position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; background-color: #fff;
	transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hidden {
	display: none !important;
}

.input-field {
	display: flex;
	column-gap: 10px;
}

.input-field > label {
	margin-top: 4px;
	font-size: 0.8rem;
	font-weight: bold;
	width: 80px;
	text-align: right;
}




.mytextbox {
	width: 300px;
	background-color: aquamarine;
}

.mycombo {
	width: 100px;
}

.mydt {
	width: 250px;
}