<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	

		<style>
			body {
				overscroll-behavior-y: contain;
				user-select: none
			}
		</style>


		<%- include(style); %>

		<%- include(script); %>


		<link rel="stylesheet" href="./styles/demo.css" />
		<link rel="stylesheet" href="./styles/demo-form.css" />
	</head>
	<body>
		<header>
			<h1>Form</h1>
		</header>
		
		<main>
			<div style="display: flex; column-gap: 10px; row-gap: 5px; flex-wrap: wrap; margin-bottom: 20px;">
				<div>
					<button id="btn_edittogle">Togle Edit State</button>
					<button id="btn_reset">Reset</button>
					<button id="btn_save">Save</button>
					<button id="btn_new">New</button>
				</div>

				<div>
					<button id="btn_testvalidation">Test Form Validation</button>
					<button id="btn_testdised">Test Disabled/Enabled</button>
					<button id="btn_clearerror">Clear Error</button>
				</div>
			</div>


			<h2 id="txtState">Edit/View</h2>
			<form id="myform" locked="true">
				<div style="display: flex; column-gap: 10px; row-gap: 5px; flex-wrap: wrap;">
					<div class="demo-input-field">
						<label for="obj_txt_nama">Nama</label>
						<input class="demo-textbox-nama" id="obj_txt_nama" required fgta5-component="Textbox" placeholder="nama anda" autocomplete="off" spellcheck="false" minlength="3" width="300" validator="" >
					</div>
				</div>

			</form>

			



		</main>

		<hr>
		<a href="/">index</a>

		<div id="fgta5-loading-pagemask">
			<div style="font-family: system-ui, sans-serif">
				Please Wait ...
			</div>
		</div>
	</body>


	<script type="module">
		import Page from './src/demo-form.mjs'

		window.addEventListener("load", async (event) => {
			var $page = new Page();
			await $page.main();

			var pagemask = document.getElementById('fgta5-loading-pagemask')
			pagemask.style.opacity = 0
			pagemask.style.visibility = 'hidden'
			setTimeout(()=>{
				pagemask.parentNode.removeChild(pagemask)
			}, 500);
		});
	</script>
</html>