<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" href="favicon.ico">
	

		<style>
			body {
				overscroll-behavior-y: contain;
				user-select: none
			}
		</style>


		<%- include(style); %>

		<%- include(script); %>


		<link rel="stylesheet" href="./styles/demo.css" />
	</head>
	<body>
		<header>
			<h1>Fgta5form Development</h1>
		</header>
		
		<main>
			<div style="display: flex; column-gap: 10px; row-gap: 5px; flex-wrap: wrap; margin-bottom: 20px;">
				
				<div>
					<button id="btn_mask_open">Open Process Mask</button>
					<button id="btn_progress_open">Do Something</button>
				</div>

				<div>
					<button id="btn_msgbox_show">MsgBox</button>
					<button id="btn_msgbox_info">Info</button>
					<button id="btn_msgbox_warn">Warning</button>
					<button id="btn_msgbox_error">Error</button>
					<button id="btn_msgbox_confirm">Confirm</button>
				</div>	

				<div>
					<button id="btn_edittogle">Togle Edit State</button>
					<button id="btn_reset">Reset</button>
					<button id="btn_save">Save</button>
					<button id="btn_new">New</button>
				</div>

				<button id="btn_testvalidation">Test Form Validation</button>
				<button id="btn_testdised">Test Disabled/Enabled</button>
				<button id="btn_clearerror">Clear Error</button>
			</div>


			<h2 id="txtState">Edit/View</h2>
			<form id="myform" locked="True">
				<div style="display: flex; column-gap: 10px; row-gap: 5px; flex-wrap: wrap;">
					
					<div class="input-field">
						<label for="obj_txt_nama">Nama</label>
						<input required id="obj_txt_nama" fgta5-component="Textbox" placeholder="Nama" autocomplete="off" spellcheck="false" minlength="3" width="300" validator="" class="mytextbox">
					</div>

					<!-- <div class="input-field">
						<label for="obj_cbo_kota">Kota</label>
						<input required id="obj_cbo_kota" fgta5-component="Combobox" placeholder="Kota" fieldValue="kota_id" fieldDisplay="kota_name" class="mycombo">
						<datalist for="obj_cbo_kota">
							<option value="JKT">Jakarta</option>
							<option value="SBY">Surabaya</option>
							<option value="BAL">Bali</option>
						</datalist>
					</div> -->

<!-- 
					<div class="input-field">
						<label for="obj_dt_tanggal">Tanggal</label>
						<input required id="obj_dt_tanggal" fgta5-component="Datepicker" placeholder="Tanggal" class="mydt" >
					</div> -->

				
					<!--
					refefence:
					https://weblog.west-wind.com/posts/2023/Feb/06/A-Button-Only-Date-Picker-and-JavaScript-Date-Control-Binding
					-->
					
				
				</div>







				
				<div style="height: 800px;">&nbsp;</div>
			</form>

			



		</main>

		<div id="fgta5-loading-pagemask">
			<div style="font-family: system-ui, sans-serif">
				Please Wait ...
			</div>
		</div>
	</body>


	<script type="module">
		import Page from './src/demo.mjs'

		window.addEventListener("load", async (event) => {
			var $page = new Page();
			await $page.main();

			var pagemask = document.getElementById('fgta5-loading-pagemask')
			pagemask.style.opacity = 0
			pagemask.style.visibility = 'hidden'
			setTimeout(()=>{
				pagemask.parentNode.removeChild(pagemask)
			}, 500);
		});
	</script>
</html>