.demo-input-field {
	display: flex;
	column-gap: 10px;
	background-color: aliceblue;
}




.demo-input-field > label {
	margin-top: 4px;
	font-size: 0.8rem;
	font-weight: bold;
	width: 80px;
	min-width: 80px;
	text-align: right;
}

@media screen and (max-width: 500px) {
	.demo-input-field {
		flex-direction: column;
	}

	.demo-input-field > label {
		text-align: left;
		margin-bottom: 2px;
		width: fit-content;
		min-width: unset;
	}

}


.demo-textbox-nama {
	width: 300px;
	background-color: aquamarine;
}


.demo-input-field[field=obj_txt_alamat] {
	flex-basis: 100%;
}



