.demo-input-field {
	display: flex;
	column-gap: 10px;
}

.demo-input-field > label {
	margin-top: 4px;
	font-size: 0.8rem;
	font-weight: bold;
	width: 80px;
	text-align: right;
}




.demo-textbox-nama {
	width: 300px;
	background-color: aquamarine;
}

