.fgta5-entry-container {
	display: inline-block;
}

.fgta5-entry-display-wrapper {
	display: inline-block;
}

.fgta5-entry-input-wrapper {
	display: inline-block;
}


.fgta5-entry-display {
	display: inline-block;
}


.fgta5-entry-input {
	display: inline-block;
}

.fgta5-entry-button {
	display: inline-block;
}


.fgta5-entry-lastvalue {
	display: none;
}