.fgta5-textbox-input-container {
	display: block;
}

.fgta5-textbox-display-wrapper {
	display: inline-block;
}

.fgta5-textbox-input-wrapper {
	display: inline-block;
}


.fgta5-textbox-display {
	display: inline-block;
}


.fgta5-textbox-input {
	display: inline-block;
}


.fgta5-textbox-lastvalue {
	display: none;
}