.fgta5-checkbox {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 15px auto;
  gap: 5px;
  cursor: pointer;
}


.fgta5-checkbox-input {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

 
  font: inherit;
  color: currentColor;
  width: 15px;
  height: 15px;
  border: 1px solid var(--fgta5-color-input-line);
  /* transform: translateY(2px);   */

  display: grid;
  place-content: center;

  cursor: pointer;

}


.fgta5-checkbox-input::before {
  content: "";
  width: 9px;
  height: 9px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 9px 9px var(--fgta5-color-checkbox-checked);
 
}

.fgta5-checkbox-input:checked::before {
  transform: scale(1);
}


.fgta5-checkbox-input[permanent-disabled=true] {
  background-color: var(--fgta5-color-checkbox-disabled);
}